@font-face {
	font-family: 'Open Sans'; 
	src: local("OpenSans"),
	url("../fonts/opensans.woff");
} 
@font-face {
	font-family: 'Open Sans light'; 
	src: local("Open Sans light"),
	url("../fonts/opensanslight.woff");
} 
@font-face {
	font-family: 'Gilroy Light'; 
	src: local("Gilroy Light"),
	url("../fonts/gilroylight.woff");
} 
@font-face {
	font-family: 'Gilroy ExtraBold'; 
	src: local("Gilroy ExtraBold"),
		url("../fonts/gilroyextrabold.woff");
} 

body {
	color: #464646;
	font-size: 15px;
	font-style: normal;
	font-family: Open Sans light, Tahoma, Sans;
	
}

h1 {
	color: black;
	font-size: 45px;
	font-family: Gilroy Extra bold, Tahoma, Sans;
}

a {
    text-decoration: none;
    color: black;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.header-logo {
    font-family: Gilroy ExtraBold, sans-serif;
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
	font-size: 48px;  
    letter-spacing: 3px;
}
.header-logo a {
     color: #464646;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.header {
    font-family: Open Sans light, Arial, sans-serif;
	width: 1040px;
	height: 185px;
	padding-left: 60px;
	padding-right: 60px;
	background-color: #f7e296;
	margin-top: -30px;
	margin-left: auto;
	margin-right: auto;
}

.header-search input[type="text"] {
    height: 43px;
    outline: none;
    border: none;
    width: 355px;
    background: url("../img/search.png") no-repeat;
    background-position: center left;
    padding-left: 36px;
    line-height: 10px;
    box-sizing: border-box;
}

.header-search input[type="text"]:focus{
    outline: none;
    border-bottom: 2px solid black;
}

.header-search input[type="submit"] {
    width: 81px;
    outline: none;
    background: none;
    height: 45px;
    margin-left: -4px;
    border: 2px solid black;
}

.header-search input[type="submit"]:hover {
    color: #ffffff;
    background: #000000;
}

.header-search input[type="submit"]:active {
    color: #b2b2b2;
}

.menu-secondary {
	display: none;
}

.header-left {
	width: 500px;
	float: left;
	margin-right: 20px;
	margin-top: 25px;
}

.header-search {
    margin-top: 10px;
}

.header-right {
	width: 520px;
	float: right;
	margin-top: 50px;
}

.user-block {
	width: 260px;
	float: left;
}

.user-out {
    opacity: 0.3;
}

.header-user {
    margin-right: 20px;
}

.header-user::before {
    float: left;
    content: "";
    width: 15px;
    height: 15px;
    background: url("../img/user.png") no-repeat;
    position: relative;
    top: 4px;
    margin-right: 14px;
}

.report {
	float: right;
	width: 220px;
}


.compare {
	float: left;
}

.compare::before {
    float: left;
    content: "";
    width: 15px;
    height: 15px;
    background: url("../img/compare.png") no-repeat;
    position: relative;
    top: 6px;
    margin-right: 10px;
}

.basket {
	float: right;
}

.basket::before {
    float: left;
    content: "";
    width: 15px;
    height: 15px;
    background: url("../img/cart.png") no-repeat;
    position: relative;
    top: 4px;
    margin-right: 10px;
}

.main-menu {
    margin-top: 48px;
    font-size: 18px;
    font-family: Gilroy ExtraBold, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.catalog-menu::after {
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    position: relative;
    top: 3px;
    background: url("../img/plus.png") no-repeat;
    margin-left: 14px;
}

.main-menu ul {
    padding-top: 7px;
    padding-left: 0px;
    margin: 0px;
}

.main-menu ul,
.nav-footer ul,
.breadcrumbs ul,
.parametr ul,
.sorting ul {
    list-style: none;
}

.main-menu a,
.nav-footer a,
.header-right a {
    text-decoration: none;
}

.main-menu li, 
.nav-footer li,
.breadcrumbs li,
.parametr li,
.sorting li {
    display: inline-block;
    float: left;
}

.main-menu li, 
.nav-footer li {
    margin-right: 38px;
    vertical-align: top;
}

.main-menu li:last-child {
    float: right;
    margin: 0px
}

.breadcrumbs {
    display: block;
    margin-bottom: 50px;
}

.breadcrumbs ul,
.sorting ul {
    margin: 0px;
    padding: 0px;
}

.parametr li {
    margin-right: 30px;
}

.sorting li:first-child {
    margin-right: 25px;
}
.breadcrumbs li {
    margin-right: 15px;
}

.delimetr {
    width: 4px;
    height: 7px;
    background: url("../img/broadcrumbs-delimetr.png") no-repeat;
}


.nav-footer a {
    color: #fff;
}

.content {
	width: 1190px;
	margin-left: auto;
	margin-right: auto;
    padding: 0 5px;
}

.slider {
	margin-bottom: 110px;
    height: 500px;
    color:black;
    position: relative;
}

.slider::before {
    position: absolute;
    left: 0px;
    right: 0px;
    content: "";
    width: 1160px;
    height: 115px;
    margin: 0 auto;
    background-color: #f7e296;
    z-index: -1;
}

.slider-left {
    float: left;
    width: 580px;
}

.slider-img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.number-slide {
    position: absolute;
    top: -8px;
    left: 0px;
    right: 60px;
    height: 179.2px;
    z-index: -1;
}

.product-about h2 {
    margin-top: 80px;
}

.number-slide p {
    margin: 0px;
    text-align: right;
    font-family: Gilroy ExtraBold, Arial, sans-serif;
    line-height: 179.2px;
    font-size: 179.2px;
    color: #ffffff;
}

.number-slide p::before {
    width: 100px;
    height: 7px;
    content: "";
    position: absolute;
    left: 0px;
    top: 50px;
    background-color: #ffffff;
}

.product-about {
	float: right;
	width: 560px;
    position: relative;
    padding-top: 82px;
}

.product-description {
    width: 480px;
}

.product-about h2,
.slide-txt h2,
.info-about-us h2, 
.info-contact h2 {
    margin: 0;
    font-size: 47px;
    font-family: Gilroy ExtraBold, Arial, sans-serif;
    margin-bottom: 35px;
    font-weight: normal;
}

.btn-slider {
    width: 220px;
    height: 40px;  
    position: relative;
    text-align: center;
    margin-bottom: 55px;

}

.btn {
    line-height: 40px;
    letter-spacing: 3px;
    font-size: 18px;
    font-family: Gilroy ExtraBold, Arial, sans-serif;
    text-transform: uppercase;
}

.btn-active:active {
    opacity: 0.3;
}

.btn::before {
    position: absolute;
    top: 16px;
    bottom: 16px;
    left: 0;
    right: 0;
    content: "";
    background-color: #f0c52e;
    z-index: -1;
}

.btn-slider-tab:hover {
    background-color: #f0c52e;
}

.btn-slider:hover {
    background-color: #f0c52e;
}

.product-about>p,
.info-abiut-us p {
    font-family: Open Sans light, Arial, sans-serif;
    color: #464646;
    line-height: 30px;
}

.product-info {
    width: 480px;
}

.characteristic {
    display: inline-block;
    float: left;
    font-size: 0px;
    margin-right: 80px;
}

.char3 {
    margin-right: 0px;
}

.characteristic-value {
    font-size: 36px;
    font-family: Gilroy Light, Arial, sans-serif;
    margin-bottom: 15px;
    margin-top: 0px;
}

p .characteristic-value {
    margin-bottom: 55px;
}

.characteristic-name {
    font-size: 13px;
    font-family: Open Sans Light, Arial, sans-serif;
    margin: 0px;
}

.slide {
    display: none;
}

.slider > input[type="radio"],
.service-slider > input[type="radio"]{
  display: none;
    position: absolute;
}

.slider-controls {
  position: absolute;
  bottom: 170px;
  right: 70px;
    width: 100px;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 2px;
  height: 2px;
  margin-right: 23px;

  vertical-align: top;

  background-color: transparent;
  border: 3px solid #000000;
  opacity: 0.3;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ #slide-1,
#btn-2:checked ~ #slide-2,
#btn-3:checked ~ #slide-3 {
    display: block;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"]{
    opacity: 1;
}

.popular {
	margin-bottom: 80px;
    font-size: 18px;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
}

.popular-item {
	float: left;
	width: 160px;
	margin-right: 40px;
}

.popular-item:last-child {
	float: right;
	margin-right: 0px;
}


.popular-img {
	width: 160px;
	height: 160px;
	background-color: #f7e296;
    margin-bottom: 32px;
}

.popular-img:hover {
    background-color: #f0c52e;
}
.popular-item a:active,
.popular-item img:active {
    opacity: 0.3;
    color: #b2b2b2;
}

.service-slider {
	width: 1160px;
}

.service-slider-tab {
	float: left;
	height: 240px;
	width: 273px;
	margin-right: 112px;
	border-right: 7px solid #000;
    padding-top: 80px;
}

.btn-container1,
.btn-container2,
.btn-container3 {
    width: 273px;
    height: 40px;
    margin-bottom: 20px;
    position: relative;
    color: #000000;
}

.service-slider-tab label {
    cursor: pointer;
}

#service-btn-1:checked ~ .btn-container1,
#service-btn-2:checked ~ .btn-container2, 
#service-btn-3:checked ~ .btn-container3 {
    background-color: #000;
    color: #f7e184;
}

.servise-slide {
    display: none;
}

#service-btn-1:checked ~ #service-slide1,
#service-btn-2:checked ~ #service-slide2,
#service-btn-3:checked ~ #service-slide3 {
    display: block;
}

.btn-slider-tab {
    position: relative;
    float: left;
    width: 160px;
    height: 40px;
    text-align: center;
}

.btn-slider-tab:hover {
    color: #000000;
}

.btn:active::before {
    opacity: 0;
}

.servise-slide {
	float: right;
	width: 760px;
    margin-top: 83px;
}

.slide-txt {
    float: left;
    width: 435px;
    line-height: 30px;
}

.servise-slide img {
    float: right;
}

.decorat-block {
	background-color: #e5e5e5;
	width: 100%;
    min-width: 1200px;
	height: 287px;
	margin-top: -220px;
    margin-bottom: 95px;
    position: relative;
    z-index: -2;
}

.logotypes {
	font-size: 0px;
	margin-bottom: 150px;
}

.logo-djl {
    float: left;
    width: 260px;
    height: 100px;
    background: url("../img/logo-djl.jpg") no-repeat;
    margin-right: 40px;
}

.logo-djl:hover {
    background: url("../img/logo-djl-hvr.jpg") no-repeat;
}

.logo-sp-gadgets {
    float: left;
    width: 260px;
    height: 100px;
    background: url("../img/logo-sp-gadgets.jpg") no-repeat;
    margin-right: 40px;
}

.logo-sp-gadgets:hover {
    background: url("../img/logo-sp-gadgets-hvr.jpg") no-repeat;
}

.logo-gopro {
    float: left;
    width: 260px;
    height: 100px;
    background: url("../img/logo-gopro.jpg") no-repeat;
    margin-right: 40px;
    
}

.logo-gopro:hover {
    background: url("../img/logo-gopro-hvr.jpg") no-repeat;
}

.logo-vive {
    float: left;
    width: 260px;
    height: 100px;
    background: url("../img/logo-vive.jpg") no-repeat;
}

.logo-vive:hover {
    background: url("../img/logo-vive-hvr.jpg") no-repeat;
}

.logotypes img {
	margin-right: 40px;
}

.logotypes img:nth-child(4) {
	margin-right: 0px;
}

.info {
	margin-bottom: 80px;
}

.info-about-us {
	float: left;
	width: 470px;
	margin-right: 40px;
    position: relative;
}

.info-about-us::before {
	width: 80px;
    height: 7px;
    content: "";
    position: absolute;
    top: -40px;
    background-color: #000000;
}

.info-about-us p {
    margin-bottom: 25px;
    line-height: 30px;
}

.info-about-us ul {
    padding-left: 35px;
    margin-top: 75px;
    margin-bottom: 72px;
    color: #000000;
    list-style: none;
}

.info-about-us li {
    font-family: Gilroy ExtraBold, Arial, sans-serif;
    font-size: 16px;
    margin: 0px;
    margin-bottom: 20px;
    position: relative;
}

.info-about-us li::before {
    position: absolute;
    width: 4px;
    height: 4px;
    content: "";
    top: 5px;
    left: -25px;
    border: 3px solid #b2b2b2;
    border-radius: 50%;
}

.info-map img {
    margin-bottom: 70px;
}

.btn-info {
    position: relative;
    width: 260px;
    text-align: center;
}

.btn-info:hover {
    background-color: #f0c52e;
}

.info-contact {
	float: right;
	width: 560px;
    position: relative;
}

.info-contact:before {
	width: 80px;
    height: 7px;
    content: "";
    position: absolute;
    top: -40px;
    background-color: #000000;
}

.info-contact p {
    line-height: 30px;
    margin-bottom: 35px;
}

.footer {
	background-color: #464646;
	color: #fff;
    min-width: 1200px;
    padding: 0 5px;
}

.footer a {
    color: #fff;
}

.footer p,
.footer ul {
    margin-top: 0;
    margin-bottom: 0;
/*    padding; 0;*/
}

.footer-top {
    padding-top: 65px;
    margin-bottom: 16px;
}

.footer-user {
    float: right;
}

.footer-user:before {
    float: left;
    content: "";
    width: 15px;
    height: 15px;
    background: url("../img/user-footer.png") no-repeat;
    position: relative;
    top: 4px;
    margin-right: 14px;
}

.footer-compare {
    margin-right: 40px;
}

.footer-compare:before {
    float: left;
    content: "";
    width: 15px;
    height: 15px;
    background: url("../img/compare-yellow.png") no-repeat;
    position: relative;
    top: 4px;
    margin-right: 10px;
}

.footer-basket {
    float: right;
}
.footer-basket:before {
    float: left;
    content: "";
    width: 15px;
    height: 15px;
    background: url("../img/cart-yellow.png") no-repeat;
    position: relative;
    top: 4px;
    margin-right: 12px;
}

.footer-average {
    margin-bottom: 60px;
}

.footer-bottom {
    margin-bottom: 63px;
}

.footer-logo {
    float: left;
	color: #f7e184;
    font-family: Gilroy ExtraBold, sans-serif;
	font-size: 48px; 
    letter-spacing: 3px;
}

.footer-logo:hover {
    color: #f0c52e;
}

.footer-logo:active {
    color: #f0c52e;
    opacity: 0.3;
}

.footer-right {
	float: right;
}

.footer-user-block {
    width: 260px;
    float: left;
    margin-right: 45px;
}

.footer-adress {
	float: left;
	width: 260px;
	margin-right: 40px;
}

.nav-footer {
    display: inline-block;
    font-family: Gilroy ExtraBold, Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 600px;
    text-align: center;
}

.nav-footer ul {
    display: inline-block;
    padding: 0px;
}

.nav-footer li:last-child {
    margin-right: 0px;
}

.main-menu a:hover,
.header-right-top a:hover,
.footer-right a:hover,
.nav-footer a:hover {
    opacity: 0.6;
}

.main-menu a:active,
.header-right-top a:active,
.nav-footer a:active {
    opacity: 0.3;
}

.footer-telephone {
	float: right;
	text-align: right;
	width: 260px;
    margin-left: 40px;
}

.footer-decorative-left {
	float: left;
	width: 80px;
	height: 5px;
	background-color: #f7e184;
}

.social {
	width: 147px;
    margin-left: auto;
    margin-right: auto;
}

.social-icon {
    float: left;
    opacity: 0.3;
}

.social-icon a {
    margin-right: 15px;
}

.facebook {
    width: 39px;
    height: 38px;
    background: url("../img/social-icon.png");
    margin-right: 12px;
}


.insta {
    width: 39px;
    height: 38px;
    background: url("../img/social-icon.png") -54px;
    margin-right: 12px;
}

.twitter {
    width: 39px;
    height: 38px;
    background: url("../img/social-icon.png") -108px;
}

.facebook:hover,
.insta:hover,
.twitter:hover {
    opacity: 0.6;
}

.facebook:active,
.insta:active,
.twitter:active {
    opacity: 0.1;
}

.htmlacademy-logo {
	float: right;
    height: 34px;
	width: 27px;
    background: url("../img/htmlacademy.png") no-repeat;
}

.htmlacademy-logo:hover {
    background: url("../img/htmlacademy-hvr.png") no-repeat;   
}

.htmlacademy-logo:active {
    opacity: 0.3;
    background: url("../img/htmlacademy-hvr.png") no-repeat;      
}

.align-container {
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
}

.catalog-column-left {
	float: left;
	width: 268px;
	margin-left: 60px;
	margin-right: 72px;
}

.catalog-row-left {
    background-color: #dcdcdc;
	float: left;
	width: 268px;
    height: 70px;
	padding-left: 65px;
	margin-right: 72px;
}

.catalog-row p {
    float: left;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 70px;
    margin: 0px;
    width: 160px;
}

.catalog-filter {
    background-color: #efefef;
    padding-top: 70px;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.catalog-column-right {
	float: right;
	width: 760px;
}

.list-top {
    margin-bottom: 70px;
    height: 70px;
}

.list-top h2 {
	float: left;
	width: 160px;
	margin-right: 40px;

}

.catalog {
    position: relative;
}

.catalog form {
    width: 200px;
}

.catalog form h3 {
    font-family: Gilroy ExtraBold, Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-top: 15px; 
}

.catalog ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.catalog-form li {
    margin-bottom: 17px;
}

.filter-cost {
    border-top: 2px solid #000000;
    margin-bottom: 40px;
}

.filter-color {
    border-top: 2px solid #000000;
    margin-bottom: 40px;
}

.filter-bluetooth {
    border-top: 2px solid #000000;
    margin-bottom: 40px;
}

.filter-bluetooth label {
    cursor: pointer;
    
}

.parametr {
	float: left;
	width: 500px;
    padding-top: 10px;
}

.parametr a {
    opacity: 0.3;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
}

.parametr a:hover {
    opacity: 0.6;
}

.sorting {
	float: right;
	width: 60px;
    padding-top: 25px;
}

.sorting a {
    opacity: 0.2;
}

.sorting a:hover {
    opacity: 0.4;
}

.sorting a:active {
    opacity: 1;
}

.list-item {
	display: inline-block;
	float: left;
    position: relative;
    margin-bottom: 50px;
}

.list-item>img {
    margin-bottom: 30px;
}

.list-item-btn {
    position: absolute;
    opacity: 0;
    height: 380px;
    top: 0px;
    left: 0px;
    right: 0px;
    color: black;
    z-index: 1;
}

.list-item-btn:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.6);
}

.list-item-btn .add-cart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-item {
    position: relative;
    float: left;
    width: 200px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
}


.add-compare {
    position: absolute;
    left: 50%;
    top: 225px;
    transform: translate(-50%, 0%);
    font-size: 13px;
    opacity: 0.5;
}

.add-compare:hover {
    opacity: 1;
}

.add-compare:active {
    opacity: 0.2;
}

.btn-item:hover {
    background-color: #f0c52e;
}

.item-new {
    position: absolute;
    display: none;
    text-align: center;
    line-height: 60px;
    top: 29px;
    right: 27px;
    width: 60px;
    height: 60px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
}

.item-new-show {
    display: block;
}

.list-item:nth-child(odd) {
	margin-right: 40px;
}

.list-paginator {
	background-color: #ebebeb;
    width: 760px;
    height: 70px;
    margin-bottom: 70px;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.description-name {
    float: left;
    width: 260px;
    margin: 0px;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
}

.description-price {
    float: right;
    font-family: "Gilroy Light", "Arial", sans-serif;
    margin: 0px;
} 

.list-previous {
	float: left;
    width: 125px;
    margin-right: 10px;
    line-height: 70px;
}

.list-page {
    display: inline-block;
    width: 490px;
    line-height: 70px;
    text-align: center;
}

.list-next {
	float: right;
    width: 135px;
    line-height: 70px;
}

.list-previous a,
.list-next a {
    display: inline-block;
    padding: 0 30px;
    height: 70px;
}

.list-previous a:hover,
.list-next a:hover {
    background-color: #d9d9d9;
}

.list-previous a:active,
.list-next a:active {
    color: #979797;
    background-color: #d9d9d9;
}

.list-page a {
    opacity: 0.3;
    margin-right: 32px;
}

.list-page a:last-child {
    margin: 0px;
}

.list-page .current,
.parametr .current {
    opacity: 1;
}

.catalog-wraper {
    background: linear-gradient(to left, #ffffff 80%, #efefef 20%);
}

.catalog-row {
    min-width: 1200px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.08);
}

.catalog-form input {
    margin-right: 20px;
}

.square-chekbox {
   cursor: pointer;
}

.btn-form {
    border: none;
    background: none;
    cursor: pointer;
    height: 40px;
    outline: none;
    line-height: 39px;
}
.btn-form::before {
    position: absolute;
    top: 16px;
    bottom: 16px;
    left: 0;
    right: 0;
    content: "";
    background-color: #f0c52e;
}

