@font-face {
	font-family: 'Open Sans'; 
	src: local("OpenSans"),
	url("../fonts/opensans.woff");
} 
@font-face {
	font-family: 'Open Sans light'; 
	src: local("Open Sans light"),
	url("../fonts/opensanslight.woff");
} 
@font-face {
	font-family: 'Gilroy Light'; 
	src: local("Gilroy Light"),
	url("../fonts/gilroylight.woff");
} 
@font-face {
	font-family: 'Gilroy ExtraBold'; 
	src: local("Gilroy ExtraBold"),
		url("../fonts/gilroyextrabold.woff");
} 

body {
	color: #464646;
	font-size: 15px;
	font-style: normal;
	font-family: Open Sans light, Tahoma, Sans;
	
}

h1 {
	color: black;
	font-size: 45px;
	font-family: Gilroy Extra bold, Tahoma, Sans;
}

a {
    text-decoration: none;
    color: black;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.header-logo {
    font-family: Gilroy ExtraBold, sans-serif;
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
	font-size: 48px;  
    letter-spacing: 3px;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.header {
    font-family: Open Sans light, Arial, sans-serif;
	width: 1040px;
	height: 185px;
	padding-left: 60px;
	padding-right: 60px;
	background-color: #f7e296;
	margin-top: -30px;
	margin-left: auto;
	margin-right: auto;
}

.header-search input[type="text"] {
    height: 43px;
    outline: none;
    border: none;
    width: 355px;
    background: url("../img/search.png") no-repeat;
    background-position: center left;
    padding-left: 36px;
    line-height: 10px;
    box-sizing: border-box;
}

.header-search input[type="text"]:focus{
    outline: none;
    border-bottom: 2px solid black;
}

.header-search input[type="submit"] {
    width: 81px;
    outline: none;
    background: none;
    height: 45px;
    margin-left: -4px;
    border: 2px solid black;
}

.header-search input[type="submit"]:hover {
    color: #ffffff;
    background: #000000;
}

.header-search input[type="submit"]:active {
    color: #b2b2b2;
}

.menu-secondary {
	display: none;
}

.header-left {
	width: 500px;
	float: left;
	margin-right: 20px;
	margin-top: 25px;
}

.header-search {
    margin-top: 10px;
}

.header-right {
	width: 520px;
	float: right;
	margin-top: 50px;
}

.user-block {
	width: 260px;
	float: left;
}

.user-out {
    opacity: 0.3;
}

.header-user {
    margin-right: 20px;
}

.header-user::before {
    float: left;
    content: "";
    width: 15px;
    height: 15px;
    background: url("../img/user.png") no-repeat;
    position: relative;
    top: 4px;
    margin-right: 14px;
}

.report {
	float: right;
	width: 220px;
}


.compare {
	float: left;
}

.compare::before {
    float: left;
    content: "";
    width: 15px;
    height: 15px;
    background: url("../img/compare.png") no-repeat;
    position: relative;
    top: 6px;
    margin-right: 10px;
}

.basket {
	float: right;
}

.basket::before {
    float: left;
    content: "";
    width: 15px;
    height: 15px;
    background: url("../img/cart.png") no-repeat;
    position: relative;
    top: 4px;
    margin-right: 10px;
}

.main-menu {
    margin-top: 48px;
    font-size: 18px;
    font-family: Gilroy ExtraBold, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.catalog-menu::after {
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    position: relative;
    top: 3px;
    background: url("../img/plus.png") no-repeat;
    margin-left: 14px;
}

.main-menu ul {
    padding-top: 7px;
    padding-left: 0px;
    margin: 0px;
}

.main-menu ul,
.nav-footer ul,
.breadcrumbs ul,
.parametr ul,
.sorting ul {
    list-style: none;
}

.main-menu a,
.nav-footer a,
.header-right a {
    text-decoration: none;
}

.main-menu li, 
.nav-footer li,
.breadcrumbs li,
.parametr li,
.sorting li {
    display: inline-block;
    float: left;
}

.main-menu li, 
.nav-footer li {
    margin-right: 38px;
    vertical-align: top;
}

.main-menu li:last-child {
    float: right;
    margin: 0px
}

.breadcrumbs {
    display: block;
    margin-bottom: 50px;
}

.breadcrumbs ul,
.sorting ul {
    margin: 0px;
    padding: 0px;
}

.parametr li {
    margin-right: 30px;
}

.sorting li:first-child {
    margin-right: 25px;
}
.breadcrumbs li {
    margin-right: 15px;
}

.delimetr {
    width: 4px;
    height: 7px;
    background: url("../img/broadcrumbs-delimetr.png") no-repeat;
}


.nav-footer a {
    color: #fff;
}

.content {
	width: 1190px;
	margin-left: auto;
	margin-right: auto;
    padding: 0 15px;
}

.slide {
	margin-bottom: 110px;
    color:black;
    position: relative;
}

.slide::before {
    position: absolute;
    left: 0px;
    right: 0px;
    content: "";
    width: 1160px;
    height: 115px;
    margin: 0 auto;
    background-color: #f7e296;
    z-index: -1;
}

.slider-left {
    float: left;
    width: 580px;
}

.slider-img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.number-slide {
    position: absolute;
    top: -8px;
    left: 0px;
    right: 60px;
    height: 179.2px;
}

.product-about h2 {
    margin-top: 80px;
}

.number-slide p {
    margin: 0px;
    text-align: right;
    font-family: Gilroy ExtraBold, Arial, sans-serif;
    line-height: 179.2px;
    font-size: 179.2px;
    color: #ffffff;
}

.number-slide p::before {
    width: 100px;
    height: 7px;
    content: "";
    position: absolute;
    left: 0px;
    top: 50px;
    background-color: #ffffff;
}

.product-about {
	float: right;
	width: 560px;
    position: relative;
}

.product-description {
    width: 480px;
}

.product-about h2,
.slide-txt h2,
.info-about-us h2, 
.info-contact h2 {
/*    margin: 0;*/
    font-size: 47px;
    font-family: Gilroy ExtraBold, Arial, sans-serif;
    margin-bottom: 35px;
    font-weight: normal;
}

.btn-slider {
    width: 220px;
    height: 40px;  
    position: relative;
    text-align: center;
    margin-bottom: 55px;

}

.btn {
    line-height: 40px;
    letter-spacing: 3px;
    font-size: 18px;
    font-family: Gilroy ExtraBold, Arial, sans-serif;
    text-transform: uppercase;
}

.btn-active:active {
    opacity: 0.3;
}

.btn-slider .btn::before,
.btn-slider-tab .btn::before,
.btn-info .btn::before {
    position: absolute;
    top: 16px;
    bottom: 16px;
    left: 0;
    right: 0;
    content: "";
    background-color: #f0c52e;
    z-index: -1;
}

.btn-slider-tab:hover {
    background-color: #f0c52e;
}

.btn-slider:hover {
    background-color: #f0c52e;
}

.product-about>p,
.info-abiut-us p {
    font-family: Open Sans light, Arial, sans-serif;
    color: #464646;
    line-height: 30px;
}

.product-info {
    width: 480px;
}

.characteristic {
    display: inline-block;
    float: left;
    font-size: 0px;
    margin-right: 80px;
}

.char3 {
    margin-right: 0px;
}

.characteristic-value {
    font-size: 36px;
    font-family: Gilroy Light, Arial, sans-serif;
    margin-bottom: 15px;
    margin-top: 0px;
}

p .characteristic-value {
    margin-bottom: 55px;
}

.characteristic-name {
    font-size: 13px;
    font-family: Open Sans Light, Arial, sans-serif;
    margin: 0px;
}

.popular {
	margin-bottom: 80px;
    font-size: 18px;
    font-family: Gilroy ExtraBold, Arial, sans-serif;
}

.popular-item {
	float: left;
	width: 160px;
	margin-right: 40px;
}

.popular-item:last-child {
	float: right;
	margin-right: 0px;
}


.popular-img {
	width: 160px;
	height: 160px;
	background-color: #f7e296;
    margin-bottom: 32px;
}

.popular-img:hover {
    background-color: #f0c52e;
}
.popular-item a:active,
.popular-item img:active {
    opacity: 0.3;
    color: #b2b2b2;
}

.service-slider {
	width: 1160px;
}

.service-slider-tab {
	float: left;
	height: 240px;
	width: 273px;
	margin-right: 112px;
	border-right: 7px solid #000;
    padding-top: 80px;
}

.btn-container {
    width: 273px;
    height: 40px;
    margin-bottom: 20px;
    position: relative;
}

.btn-container a:active::before {
    position: absolute;
    content: "";
    width: 273px;
    height: 40px;
    background-color: #000;
}

/*
.btn-container:active {
    background-color: black;
}
*/

.btn-slider-tab {
    position: relative;
    float: left;
    width: 160px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
}

.btn-slider-tab:active {
    background: none;
    color: #f7e184;
}

.servise-slider-slide {
	float: right;
	width: 760px;
    margin-top: 83px;
}

.slide-txt {
    float: left;
    width: 435px;
    line-height: 30px;
}

.servise-slider-slide img {
    float: right;
    width: 136px;
}

.decorat-block {
	background-color: #e5e5e5;
	width: 100%;
    min-width: 1200px;
	height: 287px;
	margin-top: -220px;
    margin-bottom: 95px;
    position: relative;
    z-index: -2;
}

.logotypes {
	font-size: 0px;
	margin-bottom: 150px;
}

.logo-djl {
    float: left;
    width: 260px;
    height: 100px;
    background: url("../img/logo-djl.jpg") no-repeat;
    margin-right: 40px;
}

.logo-djl:hover {
    background: url("../img/logo-djl-hvr.jpg") no-repeat;
}

.logo-sp-gadgets {
    float: left;
    width: 260px;
    height: 100px;
    background: url("../img/logo-sp-gadgets.jpg") no-repeat;
    margin-right: 40px;
}

.logo-sp-gadgets:hover {
    background: url("../img/logo-sp-gadgets-hvr.jpg") no-repeat;
}

.logo-gopro {
    float: left;
    width: 260px;
    height: 100px;
    background: url("../img/logo-gopro.jpg") no-repeat;
    margin-right: 40px;
    
}

.logo-gopro:hover {
    background: url("../img/logo-gopro-hvr.jpg") no-repeat;
}

.logo-vive {
    float: left;
    width: 260px;
    height: 100px;
    background: url("../img/logo-vive.jpg") no-repeat;
}

.logo-vive:hover {
    background: url("../img/logo-vive-hvr.jpg") no-repeat;
}

.logotypes img {
	margin-right: 40px;
}

.logotypes img:nth-child(4) {
	margin-right: 0px;
}

.info {
	margin-bottom: 80px;
}

.info-about-us {
	float: left;
	width: 470px;
	margin-right: 40px;
    position: relative;
}

.info-about-us:before {
	width: 80px;
    height: 7px;
    content: "";
    position: absolute;
    top: -40px;
    background-color: #000000;
}

.info-about-us p {
    margin-bottom: 25px;
    line-height: 30px;
}

.info-about-us ul {
    padding-left: 20px;
    margin-top: 75px;
    margin-bottom: 72px;
    color: #000000;
}

.info-about-us li {
    font-family: Gilroy ExtraBold, Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.info-map img {
    margin-bottom: 70px;
}

.btn-info {
    position: relative;
    width: 260px;
    text-align: center;
}

.btn-info:hover {
    background-color: #f0c52e;
}

.info-contact {
	float: right;
	width: 560px;
    position: relative;
}

.info-contact:before {
	width: 80px;
    height: 7px;
    content: "";
    position: absolute;
    top: -40px;
    background-color: #000000;
}

.info-contact p {
    line-height: 30px;
    margin-bottom: 35px;
}

.footer {
	background-color: #464646;
	color: #fff;
    min-width: 1200px;
}

.footer a {
    color: #fff;
}

.footer p,
.footer ul {
    margin-top: 0;
    margin-bottom: 0;
/*    padding; 0;*/
}

.footer-top {
    padding-top: 65px;
    margin-bottom: 16px;
}

.footer-user {
    float: right;
}

.footer-user:before {
    float: left;
    content: "";
    width: 15px;
    height: 15px;
    background: url("../img/user-footer.png") no-repeat;
    position: relative;
    top: 4px;
    margin-right: 14px;
}

.footer-compare {
    margin-right: 40px;
}

.footer-compare:before {
    float: left;
    content: "";
    width: 15px;
    height: 15px;
    background: url("../img/compare-yellow.png") no-repeat;
    position: relative;
    top: 4px;
    margin-right: 10px;
}

.footer-basket {
    float: right;
}
.footer-basket:before {
    float: left;
    content: "";
    width: 15px;
    height: 15px;
    background: url("../img/cart-yellow.png") no-repeat;
    position: relative;
    top: 4px;
    margin-right: 12px;
}

.footer-average {
    margin-bottom: 60px;
}

.footer-bottom {
    margin-bottom: 63px;
}

.footer-logo {
    float: left;
	color: #f7e184;
    font-family: Gilroy ExtraBold, sans-serif;
	font-size: 48px; 
    letter-spacing: 3px;
}

.footer-logo:hover {
    color: #f0c52e;
}

.footer-logo:active {
    color: #f0c52e;
    opacity: 0.3;
}

.footer-right {
	float: right;
}

.footer-user-block {
    width: 260px;
    float: left;
    margin-right: 45px;
}

.footer-adress {
	float: left;
	width: 260px;
	margin-right: 40px;
}

.nav-footer {
    display: inline-block;
    font-family: Gilroy ExtraBold, Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 600px;
    text-align: center;
}

.nav-footer ul {
    display: inline-block;
    padding: 0px;
}

.nav-footer li:last-child {
    margin-right: 0px;
}

.main-menu a:hover,
.header-right-top a:hover,
.footer-right a:hover,
.nav-footer a:hover {
    opacity: 0.6;
}

.main-menu a:active,
.header-right-top a:active,
.nav-footer a:active {
    opacity: 0.3;
}

.footer-telephone {
	float: right;
	text-align: right;
	width: 260px;
    margin-left: 40px;
}

.footer-decorative-left {
	float: left;
	width: 80px;
	height: 5px;
	background-color: #f7e184;
}

.social {
	width: 147px;
    margin-left: auto;
    margin-right: auto;
}

.social-icon {
    float: left;
    opacity: 0.3;
}

.social-icon a {
    margin-right: 15px;
}

.facebook {
    width: 39px;
    height: 38px;
    background: url("../img/social-icon.png");
    margin-right: 12px;
}


.insta {
    width: 39px;
    height: 38px;
    background: url("../img/social-icon.png") -54px;
    margin-right: 12px;
}

.twitter {
    width: 39px;
    height: 38px;
    background: url("../img/social-icon.png") -108px;
}

.facebook:hover,
.insta:hover,
.twitter:hover {
    opacity: 0.6;
}

.facebook:active,
.insta:active,
.twitter:active {
    opacity: 0.1;
}

.htmlacademy-logo {
	float: right;
    height: 34px;
	width: 27px;
    background: url("../img/htmlacademy.png") no-repeat;
}

.htmlacademy-logo:hover {
    background: url("../img/htmlacademy-hvr.png") no-repeat;   
}

.htmlacademy-logo:active {
    opacity: 0.3;
    background: url("../img/htmlacademy-hvr.png") no-repeat;      
}

.align-container {
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
}

.catalog-left {
	float: left;
	width: 268px;
	background-color: #efefef;
	margin-left: 60px;
	margin-right: 72px;
}

.catalog-column-right {
	float: right;
	width: 760px;
}

.list-top {
	background-color: #efefef;
    margin-bottom: 70px;
    height: 70px;
}

.list-top h2 {
	float: left;
	width: 160px;
	margin-right: 40px;

}

.parametr {
	float: left;
	width: 500px;
    padding-top: 10px;
}

.sorting {
	float: right;
	width: 60px;
    padding-top: 25px;
}

.list-item {
	display: inline-block;
	float: left;
}

.list-item:nth-child(odd) {
	margin-right: 40px;
}

.list-botton {
	background-color: #efefef;
}

.list-previous {
	float: left;
	width: 170px;
	padding-left: 30px;
	margin-right: 60px;
}

.list-page {
	float: left;
	width: 240px;
	margin-right: 60px;
}

.list-next {
	float: right;
	width: 105px;
	padding-left: 95px;
}

